/node_modules
/public/hot
/public/storage
/nbproject
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/nbproject/private/

#Project関連
project/*
!/project/
/project/*
!/project/.gitkeep

!/project/Data/
/project/Data/*
!/project/Data/.gitkeep

!/project/Controllers/
/project/Controllers/*
!/project/Controllers/.gitkeep
